@{
    ViewData["Title"] = "Technology BatteryMonitorApp";
}
<h1>
    Technologies and frameworks used in this solution
</h1>
<h3>API section </h3>
<ul>
    <li>Microsoft.OpenApi - creation and management of API controllers</li>
    <li>Swashbuckle.AspNetCore - for swagger generation</li>
    <li>EndpointsApiExplorer</li>
</ul>
<h3>Web Application</h3>
<ul>
    <li>Microsoft.AspNetCore.Mvc</li>
    <li>Microsoft.AspNetCore.Identity</li>
    <li>Microsoft.AspNetCore.Authorization</li>
    <li>AspNetCore.HealthChecks.SqlServer</li>
    <li>RazorPage</li>
    <li>Chart.js by https://www.chartjs.org/</li>
</ul>
<h3>Database and Contracts</h3>
<ul>
    <li>Microsoft.EntityFrameworkCore</li>
    <li>Microsoft.EntityFrameworkCore.SqlServer</li>
    <li>Microsoft.AspNetCore.Identity.EntityFrameworkCore</li>
    <li>AutoMapper</li>
</ul>

